@page "/proyecto-estrategico/procesos"
@using WEB.Components.JefeProceso
@using WEB.Core.Mediator
@using WEB.Core.Services
@using WEB.Core.Interfaces
@using WEB.Services
@rendermode InteractiveServer
@inject IUnitOfWorkAccessor UnitOfWorkAccessor
@inject IMediator Mediator
@inject ExcelExportService ExportService
@inject ExportPdfService ExportPdfService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager



<FluentGridItem xs="12">
    <FluentStack Width="100%" HorizontalAlignment="HorizontalAlignment.SpaceBetween" VerticalAlignment="VerticalAlignment.Center">
        <Title Icono="@(new Icons.Regular.Size24.Map())" ValueTitle="Proyecto Estrategico"></Title>
        
        <FluentStack Width="fit-content" HorizontalAlignment="HorizontalAlignment.End">
            <FluentMenuButton IconStart="@(new Icons.Regular.Size20.ArrowDownload())" Style="margin-right: 10px;margin-bottom: 10px;" Text="Exportar">
                <FluentMenuItem Disabled="@(string.IsNullOrEmpty(activeTabId))" OnClick="ExportExcel">Excel</FluentMenuItem>
                <FluentMenuItem Disabled="@(string.IsNullOrEmpty(activeTabId))" OnClick="ExportPdf">PDF</FluentMenuItem>
            </FluentMenuButton>
            <FluentButton Appearance="Appearance.Accent"
                          OnClick="@(() => NavigationManager.NavigateTo("/proceso"))"
                          IconStart="@(new Icons.Regular.Size20.ArrowLeft())">
                Volver
            </FluentButton>
        </FluentStack>
    </FluentStack>
  
</FluentGridItem>

<FluentLayout>
    <FluentGrid Spacing="4">
        <FluentGridItem xs="12">
            @if (isLoadingProcesos)
            {
                <FluentProgressRing/>
            }
            else if (!procesos.Any())
            {
                <FluentLabel>No hay procesos registrados.</FluentLabel>
            }
            else
            {
                <FluentTabs @bind-ActiveTabId="activeTabId"
                            OnTabChange="HandleTabChange">
                    @foreach (var proceso in procesos)
                    {
                        var procesoId = proceso.Id;
                        var tabId = $"tab-{procesoId}";
                        <FluentTab Id="@tabId" Label="@proceso.Nombre">
                            <PEProcesoTable ProcesoId="procesoId" />
                        </FluentTab>
                    }
                </FluentTabs>
            }
        </FluentGridItem>
    </FluentGrid>
</FluentLayout>