@page "/proceso"
@using WEB.Components.Administrador.Proceso
@using WEB.Components.Shared
@using WEB.Core.Mediator
@rendermode RenderMode.InteractiveServer
@inject IMediator Mediator
@inject IDialogService DialogService

<FluentLayout>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="20">
        <FluentStack  Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.SpaceBetween">
            <Title ValueTitle="Procesos" Icono="@(new Icons.Filled.Size24.Flowchart())"/>

            <FluentStack Width="inline-block" HorizontalAlignment="HorizontalAlignment.End">
            @if (ActiveTabId == "tab-activos")
            {
           
                <FluentButton
                    Appearance="Appearance.Outline"
                    OnClick="EliminarSeleccionados"
                    Disabled="@(procesoDataGrid == null || !procesoDataGrid.HasSelection)"
                    IconStart="@(new Icons.Regular.Size16.Delete())">
                    Eliminar
                </FluentButton>
                
               
                <FluentButton 
                    Appearance="Appearance.Accent"
                    OnClick="@OpenCreateDialog" 
                    IconStart="@(new Icons.Regular.Size20.AddSquare())">
                    Crear Proceso
                </FluentButton>
                
             
           
            }
            else
            {
                
                <FluentButton
                    Appearance="Appearance.Outline"
                    OnClick="@RestoreSelectedProcesos"
                    Disabled="selectedDeletedProcesoIds.Count == 0"
                    IconStart="@(new Icons.Regular.Size20.ArrowSync())">
                    Restaurar
                </FluentButton>
                <FluentButton 
                    OnClick="@DeleteSelectedPermanently"
                    Disabled="@(selectedDeletedProcesoIds.Count == 0)"
                    IconStart="@(new Icons.Regular.Size16.Delete().WithColor(Color.Error))">
                    Eliminar
                </FluentButton>
                }
            </FluentStack>
        </FluentStack>
        
        <FluentTabs Width="100%" @bind-ActiveTabId="@ActiveTabId" OnTabChange="HandleTabChange">
            <FluentTab Id="tab-activos" Label="Procesos activos">
                @if (isLoadingActivos)
                {
                    <FluentStack HorizontalAlignment="HorizontalAlignment.Center" Style="padding: 40px;">
                        <FluentProgressRing />
                    </FluentStack>
                }
                else
                {
                    <div style="overflow-x: auto; width: 100%;">
                    <div style="min-width: 700px;">
                    <ProcesoDataGrid Procesos="activeProcesos"
                                     OnEdit="OpenEditDialog"
                                     @ref="@procesoDataGrid"
                                     OnDelete="DeleteProceso"
                                     SelectionChanged="OnGridSelectionChanged"
                                     OnViewDetails="ViewProcesoDetails" />
                    </div>
                    </div>
                }
            </FluentTab>

            <FluentTab Id="tab-papelera" Label="Papelera">
                @if (isLoadingPapelera)
                {
                    <FluentStack HorizontalAlignment="HorizontalAlignment.Center" Style="padding: 40px;">
                        <FluentProgressRing />
                    </FluentStack>
                }
                else
                {
                    <div style="overflow-x: auto; width: 100%;">
                    <div style="min-width: 700px;">
                    <ProcesoDeletedDataGrid Procesos="deletedProcesos"
                                            SelectedIds="selectedDeletedProcesoIds"
                                            SelectedIdsChanged="OnSelectedDeletedIdsChanged"
                                            OnRestore="RestoreSingleProceso"
                                            OnDeletePermanently="DeletePermanently" />
                    </div>
                    </div>
                }
            </FluentTab>
        </FluentTabs>
    </FluentStack>
</FluentLayout>