@page "/proceso"
@attribute [Authorize(Roles=AppRoles.Administrador)]
@using Microsoft.AspNetCore.Authorization
@using WEB.Components.Administrador.Proceso
@using WEB.Components.Shared
@using WEB.Core.Mediator
@using WEB.Data
@using WEB.Services
@rendermode RenderMode.InteractiveServer
@inject IMediator Mediator
@inject NavigationManager NavigationManager
@inject ExcelExportService ExcelExportService
@inject IJSRuntime JSRuntime
@inject IDialogService DialogService


<FluentLayout>
    <FluentGrid Spacing="5" Style="width: 100%;">
        <FluentGridItem xs="12">
            <FluentGrid Justify="JustifyContent.SpaceBetween" AlignItems="Alignment.Center" Spacing="3">
                <FluentGridItem xs="12" md="6">
                    <Title ValueTitle="Procesos" Icono="@(new Icons.Filled.Size24.Flowchart())"/>
                </FluentGridItem>
                <FluentGridItem xs="12" md="6" Justify="JustifyContent.FlexEnd">
                    <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.End" Gap="8" Style="flex-wrap: wrap;">
                        @if (ActiveTabId == "tab-activos")
                        {
                            <FluentMenuButton Text="Exportar">
                                <FluentMenuItem Disabled="@(!activeProcesos.Any())" OnClick="ExportProcesos"> Excel</FluentMenuItem>
                                <FluentMenuItem Disabled="@(!activeProcesos.Any())" OnClick="ExportProcesosPdf"> PDF</FluentMenuItem>
                            </FluentMenuButton>
                            
                            <FluentButton 
                                Appearance="Appearance.Accent"
                                OnClick="@(() => NavigationManager.NavigateTo("/proceso/indicadores"))">SIGES</FluentButton>
                            
                            <FluentButton 
                                Appearance="Appearance.Accent"
                                OnClick="@(() => NavigationManager.NavigateTo("/admin/procesos/evaluaciones"))">Evaluacion</FluentButton>
                           
                            <FluentButton 
                                Appearance="Appearance.Accent"
                                OnClick="@(() => NavigationManager.NavigateTo("/proyecto-estrategico/procesos"))">
                                PE
                            </FluentButton>
                            
                            <FluentButton
                                Appearance="Appearance.Outline"
                                OnClick="EliminarSeleccionados"
                                Disabled="@(procesoDataGrid == null || !procesoDataGrid.HasSelection)"
                                IconStart="@(new Icons.Regular.Size16.Delete())">
                                Eliminar
                            </FluentButton>
                            
                            <FluentButton 
                                Appearance="Appearance.Accent"
                                OnClick="@OpenCreateDialog" 
                                IconStart="@(new Icons.Regular.Size20.AddSquare())">
                                Crear
                            </FluentButton>
                        }
                        else
                        {
                            <FluentButton
                                Appearance="Appearance.Outline"
                                OnClick="@RestoreSelectedProcesos"
                                Disabled="selectedDeletedProcesoIds.Count == 0"
                                IconStart="@(new Icons.Regular.Size20.ArrowSync())">
                                Restaurar
                            </FluentButton>
                            
                            <FluentButton 
                                OnClick="@DeleteSelectedPermanently"
                                Disabled="@(selectedDeletedProcesoIds.Count == 0)"
                                IconStart="@(new Icons.Regular.Size16.Delete().WithColor(Color.Error))">
                                Eliminar
                            </FluentButton>
                        }
                    </FluentStack>
                </FluentGridItem>
            </FluentGrid>
        </FluentGridItem>
        
        <FluentGridItem xs="12">
            <FluentTabs Width="100%" @bind-ActiveTabId="@ActiveTabId" OnTabChange="HandleTabChange">
                <FluentTab Id="tab-activos" Label="Activos">
                    @if (isLoadingActivos)
                    {
                        <FluentStack HorizontalAlignment="HorizontalAlignment.Center" Style="padding: 40px;">
                            <FluentProgressRing />
                        </FluentStack>
                    }
                    else
                    {
                        <div style="overflow-x: auto; width: 100%;">
                            <div style="min-width: 700px;">
                                <ProcesoDataGrid Procesos="activeProcesos"
                                                 OnEdit="OpenEditDialog"
                                                 @ref="@procesoDataGrid"
                                                 OnDelete="DeleteProceso"
                                                 SelectionChanged="OnGridSelectionChanged"
                                                 OnViewDetails="ViewProcesoDetails" />
                            </div>
                        </div>
                    }
                </FluentTab>

                <FluentTab Id="tab-papelera" Label="Papelera">
                    @if (isLoadingPapelera)
                    {
                        <FluentStack HorizontalAlignment="HorizontalAlignment.Center" Style="padding: 40px;">
                            <FluentProgressRing />
                        </FluentStack>
                    }
                    else
                    {
                        <div style="overflow-x: auto; width: 100%;">
                            <div style="min-width: 700px;">
                                <ProcesoDeletedDataGrid Procesos="deletedProcesos"
                                                        SelectedIds="selectedDeletedProcesoIds"
                                                        SelectedIdsChanged="OnSelectedDeletedIdsChanged"
                                                        OnRestore="RestoreSingleProceso"
                                                        OnDeletePermanently="DeletePermanently" />
                            </div>
                        </div>
                    }
                </FluentTab>
            </FluentTabs>
        </FluentGridItem>
    </FluentGrid>
</FluentLayout>